{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<section>

    {% for article in articles %}
    <article>
        <h2>{{ article.getName }}</h2>
        <div class="metadata"> creer le {{ article.getCreated | date('d/m/Y')}} </div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            {{ article.getDescription | raw}}
            <a href="{{ path('blog_show', {id: article.id}) }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    {% endfor %}

</section>

{% endblock %}